<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">
    <header>
      <nav>
        <% if user_signed_in? %>
          <%= link_to t('views.header.list', name: Book.model_name.human.downcase), books_path %>
          <%= link_to t('views.header.list', name: User.model_name.human.downcase), users_path %>
          <%= link_to t('views.header.edit_registration'), edit_user_registration_path %>
          <%= link_to t('views.header.logout'), destroy_user_session_path, data: { "turbo-method": :delete } %>
        <% end %>
      </nav>
    </header>
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
